openapi: 3.0.0
info:
  title: Mink API
  version: 1.1.0
  description: "# Introduction\nWeb API serving as a backend to Mink.\n\nFor now the\
    \ API is used for uploading corpus data to a storage server and processing that\
    \ data with Sparv.\n\n# Workflow\nA workflow for processing data with Sparv via\
    \ Mink could look like this:\n\n1. <a href=\"#operation/createcorpus\">Create\
    \ a new corpus</a>\n2. <a href=\"#operation/uploadsources\">Upload some corpus\
    \ source files</a>\n3. <a href=\"#operation/uploadconfig\">Upload a corpus config\
    \ file</a>\n4. <a href=\"#operation/runSparv\">Run Sparv</a>\n5. <a href=\"#operation/resourceinfo\"\
    >Check the status</a>\n6. <a href=\"#operation/downloadexports\">Download export\
    \ files</a>\n7. <a href=\"#operation/installinKorp\">Install the corpus in Korp</a>\
    \ / <a href=\"#operation/installinStrix\">Strix</a>\n\n# Parameters\nParameters\
    \ such as `corpus_id` can usually be provided as a query parameter or as form\
    \ data.\nThe following two examples will thus result in the same response:\n\n\
    `curl -X GET '{{host}}/list-sources?corpus_id=some_corpus_name' -H 'Authorization:\
    \ Bearer YOUR_JWT`\n\n`curl -X GET -F \"corpus_id=some_corpus_name\" '{{host}}/list-sources'\
    \ -H 'Authorization: Bearer YOUR_JWT`\n\n# Responses\n- Most responses will be\
    \ in json format.\n- Json responses contain a `status` field which will have the\
    \ value `success` if the response code is 200 and\n  `error` otherwise. Thus this\
    \ `status` merely reports whether the call was processed correctly.\n- All json\
    \ responses also contain a `return_code` field with a unique code that can be\
    \ used for mapping to\n  human-friendly error messages.\n- Most responses contain\
    \ a `message` field with information about what was done during the call or where\
    \ things went\n  wrong.\n- Each call may have an arbitrary amount of additional\
    \ fields containing more information or data."
  x-logo:
    url: https://raw.githubusercontent.com/spraakbanken/mink-backend/main/mink/static/mink.svg
  contact:
    name: Språkbanken
    url: https://spraakbanken.gu.se/
    email: sb-info@svenska.gu.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://ws.spraakbanken.gu.se/ws/mink
  description: Test server
paths:
  /create-corpus:
    post:
      tags:
      - Manage Corpora
      summary: create corpus
      description: 'Creates a new corpus on the storage server.


        ### Example


        ```.bash

        curl -X POST ''{{host}}/create-corpus'' -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: createcorpus
      parameters: []
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtff' created successfully
                  corpus_id:
                    type: string
                    example: mink-dxh6e6wtff
                  return_code:
                    type: string
                    example: created_corpus
              example:
                status: success
                message: Corpus 'mink-dxh6e6wtff' created successfully
                corpus_id: mink-dxh6e6wtff
                return_code: created_corpus
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to create corpus
                  return_code:
                    type: string
                    example: failed_creating_corpus
              example:
                status: error
                message: Failed to create corpus
                return_code: failed_creating_corpus
      deprecated: false
  /list-corpora:
    get:
      tags:
      - Manage Corpora
      summary: list corpora
      description: 'Lists the IDs of previously uploaded corpora.


        ### Example


        ```.bash

        curl ''{{host}}/list-corpora'' -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: listcorpora
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Listing available corpora
                  corpora:
                    type: array
                    example: &id001
                    - mink-dxh6e6wtff
                  return_code:
                    type: string
                    example: listing_corpora
              example:
                status: success
                message: Listing available corpora
                corpora: *id001
                return_code: listing_corpora
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
      deprecated: false
  /list-korp-corpora:
    get:
      tags:
      - Manage Corpora
      summary: list Korp corpora
      description: 'Lists the IDs of Mink corpora installed in Korp.


        ### Example


        ```.bash

        curl ''{{host}}/list-korp-corpora'' -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: listKorpcorpora
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Listing corpora installed in Korp
                  corpora:
                    type: array
                    example: &id002
                    - mink-dxh6e6wtff
                  return_code:
                    type: string
                    example: listing_korp_corpora
              example:
                status: success
                message: Listing corpora installed in Korp
                corpora: *id002
                return_code: listing_korp_corpora
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
      deprecated: false
  /remove-corpus:
    delete:
      tags:
      - Manage Corpora
      summary: remove corpus
      description: 'Removes a corpus from the storage server. Will attempt to abort
        any running job for this corpus and also remove it from the Sparv server.


        ### Example


        ```.bash

        curl -X DELETE ''{{host}}/remove-corpus?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT''

        ```'
      operationId: removecorpus
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtff' successfully removed
                  return_code:
                    type: string
                    example: removed_corpus
              example:
                status: success
                message: Corpus 'mink-dxh6e6wtff' successfully removed
                return_code: removed_corpus
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to remove corpus 'mink-dxh6e6wtff' from Korp
                  return_code:
                    type: string
                    example: failed_removing_korp
              example:
                status: error
                message: Failed to remove corpus 'mink-dxh6e6wtff' from Korp
                return_code: failed_removing_korp
      deprecated: false
  /upload-sources:
    put:
      tags:
      - Manage Sources
      summary: upload sources
      description: 'Uploads the attached files as corpus source files to the storage
        server. When uploading a file with a name that already exists it will be replaced.


        ### Example


        ```.bash

        curl -X PUT -F "files[]=@/absolute/path/to/localfile1.txt" -F "files[]=@/absolute/path/to/localfile2.txt"
        ''{{host}}/upload-sources?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT''

        ```'
      operationId: uploadsources
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Source files successfully added to 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: uploaded_sources
              example:
                status: success
                message: Source files successfully added to 'mink-dxh6e6wtff'
                return_code: uploaded_sources
        '400':
          description: NOT FOUND
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to upload some source files to 'mink-dxh6e6wtff'
                      due to incompatible file extensions
                  file:
                    type: string
                    example: text.txt
                  info:
                    type: string
                    example: incompatible file extensions
                  current_file_extension:
                    type: string
                    example: .txt
                  existing_file_extension:
                    type: string
                    example: .xml
                  return_code:
                    type: string
                    example: failed_uploading_sources_incompatible_file_extension
              example:
                status: error
                message: Failed to upload some source files to 'mink-dxh6e6wtff' due
                  to incompatible file extensions
                file: text.txt
                info: incompatible file extensions
                current_file_extension: .txt
                existing_file_extension: .xml
                return_code: failed_uploading_sources_incompatible_file_extension
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '413':
          description: REQUEST ENTITY TOO LARGE
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Request data too large (max 100 MB per upload)
                  max_content_length:
                    type: integer
                    example: 104857600
                  return_code:
                    type: string
                    example: data_too_large
              example:
                status: error
                message: Request data too large (max 100 MB per upload)
                max_content_length: 104857600
                return_code: data_too_large
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to upload source files to 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: failed_uploading_sources
              example:
                status: error
                message: Failed to upload source files to 'mink-dxh6e6wtff'
                return_code: failed_uploading_sources
      deprecated: false
  /list-sources:
    get:
      tags:
      - Manage Sources
      summary: list sources
      description: 'Lists the available corpus source files.


        ### Example


        ```.bash

        curl -X GET ''{{host}}/list-sources?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT''

        ```'
      operationId: listsources
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Current source files for 'mink-dxh6e6wtff'
                  contents:
                    type: array
                    example: &id003
                    - name: dokument1.xml
                      type: application/xml
                      last_modified: '2022-06-10T17:05:18+02:00'
                      size: 1397
                      path: dokument1.xml
                    - name: dokument2.xml
                      type: application/xml
                      last_modified: '2022-06-10T17:05:16+02:00'
                      size: 116
                      path: dokument2.xml
                  return_code:
                    type: string
                    example: listing_sources
              example:
                status: success
                message: Current source files for 'mink-dxh6e6wtff'
                contents: *id003
                return_code: listing_sources
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to list source files in 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: failed_listing_sources
              example:
                status: error
                message: Failed to list source files in 'mink-dxh6e6wtff'
                return_code: failed_listing_sources
      deprecated: false
  /download-sources:
    get:
      tags:
      - Manage Sources
      summary: download sources
      description: 'Downloads corpus source files from the storage server as zip file.


        The parameter `file` may be used to download a specific source file. This
        parameter must either be a file name or an absolute path on the Storage server.
        The `zip` parameter may be set to `false` in combination the the `file` param
        to avoid zipping the file to be downloaded.


        ### Example


        ```.bash

        curl -X GET ''{{host}}/download-sources?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT'' --output some_corpus_name_sources.zip

        ```'
      operationId: downloadsources
      parameters:
      - name: corpus_id
        in: query
        required: true
        style: form
        schema:
          type: string
          example: mink-dxh6e6wtff
      - name: file
        in: query
        required: false
        style: form
        schema:
          type: string
          example: dokument1.xml
      - &id019
        name: zip
        in: query
        required: false
        style: form
        schema:
          type: string
          example: 'true'
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                type: string
                example: "PK\x03\x04\x14\0\0\0\0\0\x01VhR\0\0\0\0\0\0\0\0\0\0\0\0\a\
                  \0\0\0source/PK\x03\x04\n\0\b\0\0\0�{bR\0\0\0\0\0\0\0\0\0\0\0\0\x14\
                  \0\0\0source/dokument1.xml<dokument>\n\t<text forfattare=\"Sparvutvecklare\"\
                  \ date=\"2020-03-11\" id=\"1\">\nHej! Det här är en korpus.\n\n\
                  Astrid Lindgren är född i Vimmerby 1907.\n\nOch här kommer den tredje\
                  \ meningen i ett nytt stycke.\n\nSista meningen är kort och innehåller\
                  \ en sammansättningsform: födelsedagskalas.\n\t</text>\n\n\t<text\
                  \ forfattare=\"Wikipedia\" date=\"2020-03-16\" id=\"2\">\nSpråkbanken\
                  \ är en forskningsenhet vid Göteborgs universitet. Den inrättades\
                  \ som en nationell resurs 1975, som ett direkt resultat av Sture\
                  \ Alléns pionjärinsatser inom svensk korpuslingvistik under 1960-talet.\
                  \ Språkbankens uppdrag blev och är fortfarande att samla in, förädla\
                  \ och tillgängliggöra språkresurser åt forskare och allmänheten,\
                  \ och att bedriva forskning och utveckling som främjar sån användning.\n\
                  \nI Språkbanken finns en unik kompetens vad gäller svenska textkorpusar,\
                  \ parallellkorpusar, svenska elektroniska lexikonresurser samt språkteknologiska\
                  \ verktyg för att bearbeta, annotera och visa upp textkorpusar.\
                  \ Huvuddelen av materialet är modernt, men ambitionen är att resurserna\
                  \ ska avspegla hela den skrivna svenskans historia - från medeltida\
                  \ fornsvenska till modern svenska - med alla dess genrer. Huvuddelen\
                  \ av resurserna, korpusar och lexikon, är fritt åtkomliga för sökning\
                  \ via webbgränssnitt.\n\t</text>\n\n\t<text id=\"1\">Hej <i> på\
                  \ dig. Kan vi</i> hantera överlappande taggar?</text>\n</dokument>\n\
                  PK\a\b�\t\0Wt\x05\0\0t\x05\0\0PK\x03\x04\n\0\b\0\0\0�{bR\0\0\0\0\
                  \0\0\0\0\0\0\0\0\x14\0\0\0source/dokument2.xml<text>\nHej! Det här\
                  \ är en annan text.\n\nDen är jättekort. Den har bara tre meningar\
                  \ och ingen metadata.\n</text>\nPK\a\b�\x1Dx�s\0\0\0s\0\0\0PK\x01\
                  \x02-\x03\x14\0\0\0\0\0\x01VhR\0\0\0\0\0\0\0\0\0\0\0\0\a\0\0\0\0\
                  \0\0\0\0\0\x10\0�A\0\0\0\0source/PK\x01\x02-\x03\n\0\b\0\0\0�{bR�\t\
                  \0Wt\x05\0\0t\x05\0\0\x14\0\0\0\0\0\0\0\0\0\0\0��%\0\0\0source/dokument1.xmlPK\x01\
                  \x02-\x03\n\0\b\0\0\0�{bR�\x1Dx�s\0\0\0s\0\0\0\x14\0\0\0\0\0\0\0\
                  \0\0\0\0���\x05\0\0source/dokument2.xmlPK\x05\x06\0\0\0\0\x03\0\x03\
                  \0�\0\0\0�\x06\0\0\0\0"
              example: "PK\x03\x04\x14\0\0\0\0\0\x01VhR\0\0\0\0\0\0\0\0\0\0\0\0\a\0\
                \0\0source/PK\x03\x04\n\0\b\0\0\0�{bR\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\
                \0\0source/dokument1.xml<dokument>\n\t<text forfattare=\"Sparvutvecklare\"\
                \ date=\"2020-03-11\" id=\"1\">\nHej! Det här är en korpus.\n\nAstrid\
                \ Lindgren är född i Vimmerby 1907.\n\nOch här kommer den tredje meningen\
                \ i ett nytt stycke.\n\nSista meningen är kort och innehåller en sammansättningsform:\
                \ födelsedagskalas.\n\t</text>\n\n\t<text forfattare=\"Wikipedia\"\
                \ date=\"2020-03-16\" id=\"2\">\nSpråkbanken är en forskningsenhet\
                \ vid Göteborgs universitet. Den inrättades som en nationell resurs\
                \ 1975, som ett direkt resultat av Sture Alléns pionjärinsatser inom\
                \ svensk korpuslingvistik under 1960-talet. Språkbankens uppdrag blev\
                \ och är fortfarande att samla in, förädla och tillgängliggöra språkresurser\
                \ åt forskare och allmänheten, och att bedriva forskning och utveckling\
                \ som främjar sån användning.\n\nI Språkbanken finns en unik kompetens\
                \ vad gäller svenska textkorpusar, parallellkorpusar, svenska elektroniska\
                \ lexikonresurser samt språkteknologiska verktyg för att bearbeta,\
                \ annotera och visa upp textkorpusar. Huvuddelen av materialet är\
                \ modernt, men ambitionen är att resurserna ska avspegla hela den\
                \ skrivna svenskans historia - från medeltida fornsvenska till modern\
                \ svenska - med alla dess genrer. Huvuddelen av resurserna, korpusar\
                \ och lexikon, är fritt åtkomliga för sökning via webbgränssnitt.\n\
                \t</text>\n\n\t<text id=\"1\">Hej <i> på dig. Kan vi</i> hantera överlappande\
                \ taggar?</text>\n</dokument>\nPK\a\b�\t\0Wt\x05\0\0t\x05\0\0PK\x03\
                \x04\n\0\b\0\0\0�{bR\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\0\0source/dokument2.xml<text>\n\
                Hej! Det här är en annan text.\n\nDen är jättekort. Den har bara tre\
                \ meningar och ingen metadata.\n</text>\nPK\a\b�\x1Dx�s\0\0\0s\0\0\
                \0PK\x01\x02-\x03\x14\0\0\0\0\0\x01VhR\0\0\0\0\0\0\0\0\0\0\0\0\a\0\
                \0\0\0\0\0\0\0\0\x10\0�A\0\0\0\0source/PK\x01\x02-\x03\n\0\b\0\0\0\
                �{bR�\t\0Wt\x05\0\0t\x05\0\0\x14\0\0\0\0\0\0\0\0\0\0\0��%\0\0\0source/dokument1.xmlPK\x01\
                \x02-\x03\n\0\b\0\0\0�{bR�\x1Dx�s\0\0\0s\0\0\0\x14\0\0\0\0\0\0\0\0\
                \0\0\0���\x05\0\0source/dokument2.xmlPK\x05\x06\0\0\0\0\x03\0\x03\0\
                �\0\0\0�\x06\0\0\0\0"
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: The source file you are trying to download does not exist
                  return_code:
                    type: string
                    example: source_not_found
              example:
                status: error
                message: The source file you are trying to download does not exist
                return_code: source_not_found
      deprecated: false
  /remove-sources:
    delete:
      tags:
      - Manage Sources
      summary: remove sources
      description: 'Remove the source files given in the `remove` parameter from the
        corpus. Files are provided as a comma-separated list of paths relative to
        the source directory.


        If any files could not be removed they will be listed in the error response.


        ### Example


        ```.bash

        curl -X DELETE ''{{host}}/remove-sources?corpus_id=some_corpus_name&remove=dokument1.xml,dokument2.xml''
        -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: removesources
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      - name: remove
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: dokument1.xml,dokument2.xml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Source files for 'mink-dxh6e6wtff' successfully removed
                  return_code:
                    type: string
                    example: removed_sources
              example:
                status: success
                message: Source files for 'mink-dxh6e6wtff' successfully removed
                return_code: removed_sources
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: No files provided for removal
                  return_code:
                    type: string
                    example: missing_sources_remove
              example:
                status: error
                message: No files provided for removal
                return_code: missing_sources_remove
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to remove some source files form 'mink-dxh6e6wtff'.
                  failed:
                    type: array
                    example: &id004
                    - dokument2.xml
                  succeeded:
                    type: array
                    example: &id005
                    - dokument1.xml
                  return_code:
                    type: string
                    example: failed_removing_some_sources
              example:
                status: error
                message: Failed to remove some source files form 'mink-dxh6e6wtff'.
                failed: *id004
                succeeded: *id005
                return_code: failed_removing_some_sources
      deprecated: false
  /upload-config:
    put:
      tags:
      - Manage Config
      summary: upload config
      description: 'Uploads a corpus configuration, either as a file or as plain text
        with the `config` parameter. The config must be in yaml format. Read more
        about corpus config files in [the Sparv Pipeline documentation](https://spraakbanken.gu.se/sparv/#/user-manual/corpus-configuration).


        If a config file already exists for the given corpus it will be replaced by
        the newly uploaded one.


        Please note that any yaml comments may be removed from your config upon upload.


        ### Example


        ```.bash

        curl -X PUT -F "files[]=@/absolute/path/to/config.yaml;type=text/yaml" ''{{host}}/upload-config?corpus_id=some_corpus_name''
        -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: uploadconfig
      parameters:
      - name: corpus_id
        in: query
        required: true
        style: form
        schema:
          type: string
          example: mink-dxh6e6wtff
      - name: config
        in: query
        required: false
        style: form
        schema:
          type: string
          example: 'metadata:\n    id: mink-dxh6e6wtff\nimport:\n    document_annotation:
            text\n    importer: xml_import:parse\nexport:\n    annotations:\n        -
            <sentence>:misc.id\n        - <token:baseform>\n        - <token:pos>\n        -
            <token>:sensaldo.sentiment_label\n        - SWE_DEFAULT.swener\n    source_annotations:\n        -
            dokument as document\n        - text:forfattare as author\n        - ...\ncsv_export:\n    source_annotations:\n        -
            text:id\n        - text:date\n        - text:forfattare as author'
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Config file successfully uploaded for 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: uploaded_config
              example:
                status: success
                message: Config file successfully uploaded for 'mink-dxh6e6wtff'
                return_code: uploaded_config
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: The importer in your config file is not compatible with
                      your source files
                  current_importer:
                    type: string
                    example: text_import
                  expected_importer:
                    type: string
                    example: xml_import
                  return_code:
                    type: string
                    example: incompatible_config_importer
              example:
                status: error
                message: The importer in your config file is not compatible with your
                  source files
                current_importer: text_import
                expected_importer: xml_import
                return_code: incompatible_config_importer
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
      deprecated: false
  /download-config:
    get:
      tags:
      - Manage Config
      summary: download config
      description: 'Downloads the corpus config file (in yaml format).


        ### Example


        ```.bash

        curl -X GET ''{{host}}/download-config?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT''

        ```'
      operationId: downloadconfig
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            text/yaml; charset=utf-8:
              schema:
                type: string
                example: "metadata:\n  id: mink-dxh6e6wtff\nimport:\n  text_annotation:\
                  \ text\n  importer: xml_import:parse\nexport:\n  annotations:\n\
                  \  - <sentence>:misc.id\n  - <token:baseform>\n  - <token:pos>\n\
                  \  - <token>:sensaldo.sentiment_label\n  - SWE_DEFAULT.swener\n\
                  \  source_annotations:\n  - dokument as document\n  - text:forfattare\
                  \ as author\n  - '...'\ncsv_export:\n  source_annotations:\n  -\
                  \ text:id\n  - text:date\n  - text:forfattare as author\n\n"
              example: "metadata:\n  id: mink-dxh6e6wtff\nimport:\n  text_annotation:\
                \ text\n  importer: xml_import:parse\nexport:\n  annotations:\n  -\
                \ <sentence>:misc.id\n  - <token:baseform>\n  - <token:pos>\n  - <token>:sensaldo.sentiment_label\n\
                \  - SWE_DEFAULT.swener\n  source_annotations:\n  - dokument as document\n\
                \  - text:forfattare as author\n  - '...'\ncsv_export:\n  source_annotations:\n\
                \  - text:id\n  - text:date\n  - text:forfattare as author\n\n"
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: No config file found for corpus 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: config_not_found
              example:
                status: error
                message: No config file found for corpus 'mink-dxh6e6wtff'
                return_code: config_not_found
      deprecated: false
  /run-sparv:
    put:
      tags:
      - Process Corpus
      summary: run Sparv
      description: 'Adds an annotation job to the queue. The requested export formats
        may be supplied as a comma-separated list to the `exports` parameter. If no
        export formats are specified, the `xml_export:pretty` export will be generated
        by default.


        The `files` parameter can be used to run the pipeline on a part of the corpus.
        The key to `files` is a comma-separated list of file names without file extensions,
        e.g. `files=dokument1,dokument2`.


        There can only be one active job (annotation or installation) for each corpus
        at a time. A job must finish or be aborted before a new one can be started.


        ### Example


        ```.bash

        curl -X PUT -F "corpus_id=some_corpus_name" -F "exports=csv_export:csv,stats_export:freq_list,xml_export:pretty"
        ''{{host}}/run-sparv'' -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: runSparv
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      - name: exports
        in: query
        required: false
        style: form
        schema:
          type: string
          example: csv_export:csv,stats_export:freq_list,xml_export:pretty
      - name: files
        in: query
        required: false
        style: form
        schema:
          type: string
          example: dokument1,document2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Job has been queued
                  resource:
                    type: object
                    example: &id006
                      id: mink-dxh6e6wtff
                      public_id: mink-dxh6e6wtff
                      name:
                        swe: Annes och Martins testkorpus
                        eng: ''
                      type: corpus
                      source_files:
                      - name: dokument2.xml
                        type: text/xml
                        last_modified: '2022-12-22T11:25:25+01:00'
                        size: 115
                        path: dokument2.xml
                      - name: dokument3.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:44+02:00'
                        size: 41
                        path: dokument3.xml
                      - name: dokument4.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:44+02:00'
                        size: 461
                        path: dokument4.xml
                      - name: dokument1.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:49+02:00'
                        size: 1394
                        path: dokument1.xml
                  job:
                    type: object
                    example: &id007
                      status:
                        sync2sparv: none
                        sync2storage: none
                        sparv: waiting
                        korp: none
                        strix: none
                      current_process: sparv
                      pid: null
                      started: '2024-01-02T14:31:26+01:00'
                      done: null
                      sparv_exports:
                      - csv_export:csv
                      - stats_export:freq_list
                      - xml_export:pretty
                      current_files:
                      - dokument1
                      - dokument2
                      install_scrambled: true
                      installed_korp: true
                      installed_strix: true
                      latest_seconds_taken: 0
                      priority: 1
                      warnings: ''
                      errors: ''
                      sparv_output: ''
                      last_run_started: '2024-01-02T14:31:26+01:00'
                      last_run_ended: ''
                      progress: 0%
                  return_code:
                    type: string
                    example: job_queued
              example:
                status: success
                message: Job has been queued
                resource: *id006
                job: *id007
                return_code: job_queued
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: The importer in your config file is not compatible with
                      your source files
                  current_importer:
                    type: string
                    example: text_import
                  expected_importer:
                    type: string
                    example: xml_import
                  return_code:
                    type: string
                    example: incompatible_config_importer
              example:
                status: error
                message: The importer in your config file is not compatible with your
                  source files
                current_importer: text_import
                expected_importer: xml_import
                return_code: incompatible_config_importer
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: No source files found for 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: no_sources_found
              example:
                status: error
                message: No source files found for 'mink-dxh6e6wtff'
                return_code: no_sources_found
      deprecated: false
  /resource-info:
    get:
      tags:
      - Process Corpus
      summary: resource info
      description: 'Reports general information about a resource and the status of
        the current job (if there is any).


        On a setup where the storage server is separated from the Sparv server, this
        request needs to be made once the corpus is done processing in order for the
        results to be synced to the storage server.


        When the `corpus_id` parameter is supplied only the job corresponding to that
        corpus ID is reported.


        The different `job_status` codes can be looked up by calling [{{host}}/status-codes]({{host}}/status-codes).
        If the annotation process has been started successfully a percentage of the
        completed annotation progress will be shown in the `progress` field.


        ### Example


        ```.bash

        curl -X GET ''{{host}}/resource-info'' -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: resourceinfo
      parameters:
      - name: corpus_id
        in: query
        required: false
        style: form
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Listing resource infos
                  resources:
                    type: array
                    example: &id008
                    - status: success
                      message: Job was completed successfully!
                      resource:
                        id: mink-vcghkzqgux
                        name:
                          swe: SVT
                          eng: SVT
                        type: corpus
                        source_files:
                        - last_modified: '2023-04-14T15:19:37+02:00'
                          name: artikel1.odt
                          path: artikel1.odt
                          size: 43428
                          type: unknown
                        - last_modified: '2023-04-14T15:19:37+02:00'
                          name: artikel2.odt
                          path: artikel2.odt
                          size: 43529
                          type: unknown
                        - last_modified: '2023-04-14T15:19:38+02:00'
                          name: artikel3.odt
                          path: artikel3.odt
                          size: 38061
                          type: unknown
                        - last_modified: '2023-04-14T15:19:38+02:00'
                          name: artikel4.odt
                          path: artikel4.odt
                          size: 33932
                          type: unknown
                        - last_modified: '2023-04-14T15:19:38+02:00'
                          name: artikel5.odt
                          path: artikel5.odt
                          size: 38634
                          type: unknown
                        - last_modified: '2023-04-14T15:02:44+02:00'
                          name: artikel6.odt
                          path: artikel6.odt
                          size: 33762
                          type: unknown
                      job:
                        status:
                          sync2sparv: none
                          sync2storage: none
                          sparv: done
                          korp: none
                          strix: done
                        current_process: strix
                        pid: null
                        started: '2023-09-11T11:12:28+02:00'
                        done: '2023-09-11T11:13:07.290000+02:00'
                        sparv_exports:
                        - xml_export:pretty
                        - csv_export:csv
                        - stats_export:sbx_freq_list
                        current_files: []
                        install_scrambled: false
                        installed_korp: true
                        installed_strix: true
                        latest_seconds_taken: 39.29
                        priority: ''
                        warnings: WARNING 'text:misc.source' is missing a definition,
                          and 'text_source' is not available as a preset. Annotation
                          will not be included.
                        errors: ''
                        sparv_output: "The exported files can be found in the following\
                          \ locations:\n • export/sbx_strix.config/\n • export/xml_export.pretty/\n\
                          \nJob execution finished but 1 warning occurred. See log\
                          \ messages above or logs/2023-09-11_11.12.28.686629.log\
                          \ for details."
                        last_run_started: '2023-09-11T11:12:28+02:00'
                        last_run_ended: '2023-09-11T11:13:07.290000+02:00'
                        progress: 100%
                      return_code: job_completed
                    - status: success
                      message: Job was completed successfully!
                      resource:
                        id: mink-ezodmp4wxm
                        name:
                          swe: txt-korpus
                          eng: txt-korpus
                        type: corpus
                        source_files:
                        - name: text1.txt
                          type: text/plain
                          last_modified: '2023-05-15T10:40:44+02:00'
                          size: 825
                          path: text1.txt
                        - name: text2.txt
                          type: text/plain
                          last_modified: '2023-05-15T10:40:45+02:00'
                          size: 1169
                          path: text2.txt
                      job:
                        status:
                          sync2sparv: none
                          sync2storage: none
                          sparv: done
                          korp: none
                          strix: none
                        current_process: sparv
                        pid: null
                        started: '2023-06-19T11:24:52+02:00'
                        done: null
                        sparv_exports:
                        - xml_export:pretty
                        - csv_export:csv
                        - stats_export:sbx_freq_list
                        current_files: []
                        install_scrambled: false
                        installed_korp: true
                        installed_strix: false
                        latest_seconds_taken: 10.353667
                        priority: ''
                        warnings: ''
                        errors: ''
                        sparv_output: Nothing to be done.
                        last_run_started: '2023-06-19T11:24:52+02:00'
                        last_run_ended: ''
                        progress: 100%
                      return_code: job_completed
                    - status: success
                      message: Job was completed successfully!
                      resource:
                        id: mink-dxh6e6wtff
                        name:
                          swe: Annes och Martins testkorpus
                          eng: ''
                        type: corpus
                        source_files:
                        - name: dokument2.xml
                          type: text/xml
                          last_modified: '2022-12-22T11:25:25+01:00'
                          size: 115
                          path: dokument2.xml
                        - name: dokument3.xml
                          type: text/xml
                          last_modified: '2023-06-13T13:26:44+02:00'
                          size: 41
                          path: dokument3.xml
                        - name: dokument4.xml
                          type: text/xml
                          last_modified: '2023-06-13T13:26:44+02:00'
                          size: 461
                          path: dokument4.xml
                        - name: dokument1.xml
                          type: text/xml
                          last_modified: '2023-06-13T13:26:49+02:00'
                          size: 1394
                          path: dokument1.xml
                      job:
                        status:
                          sync2sparv: none
                          sync2storage: none
                          sparv: done
                          korp: aborted
                          strix: done
                        current_process: sparv
                        pid: null
                        started: '2023-12-11T13:24:09+01:00'
                        done: null
                        sparv_exports:
                        - xml_export:pretty
                        - csv_export:csv
                        - stats_export:sbx_freq_list
                        current_files: []
                        install_scrambled: true
                        installed_korp: true
                        installed_strix: true
                        latest_seconds_taken: 20.379222
                        priority: ''
                        warnings: ''
                        errors: ''
                        sparv_output: "The exported files can be found in the following\
                          \ locations:\n • export/csv_export/\n • export/stats_export.frequency_list_sbx/\n\
                          \ • export/xml_export.pretty/"
                        last_run_started: '2023-12-11T13:24:09+01:00'
                        last_run_ended: ''
                        progress: 100%
                      return_code: job_completed
                  return_code:
                    type: string
                    example: listing_jobs
              example:
                status: success
                message: Listing resource infos
                resources: *id008
                return_code: listing_jobs
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
      deprecated: false
  /abort-job:
    post:
      tags:
      - Process Corpus
      summary: abort job
      description: 'Attempts to abort a running Sparv job.


        ### Example


        ```.bash

        curl -X POST ''{{host}}/abort-job?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT''

        ```'
      operationId: abortjob
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfully aborted job for 'mink-dxh6e6wtff'
                  job_status:
                    type: object
                    example: &id009
                      sync2sparv: none
                      sync2storage: none
                      sparv: aborted
                      korp: none
                  return_code:
                    type: string
                    example: aborted_job
              example:
                status: success
                message: Successfully aborted job for 'mink-dxh6e6wtff'
                job_status: *id009
                return_code: aborted_job
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to abort job for 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: failed_aborting_job
              example:
                status: error
                message: Failed to abort job for 'mink-dxh6e6wtff'
                return_code: failed_aborting_job
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Cannot abort job while syncing files
                  return_code:
                    type: string
                    example: failed_aborting_job_syncing
              example:
                status: error
                message: Cannot abort job while syncing files
                return_code: failed_aborting_job_syncing
      deprecated: false
  /clear-annotations:
    delete:
      tags:
      - Process Corpus
      summary: clear annotations
      description: 'Clears the annotation and export directory for the provided corpus
        on the Sparv server. This is useful if you want to process a previously annotated
        corpus with a new corpus config file.


        ### Example


        ```.bash

        curl -X DELETE ''{{host}}/clear-annotations?corpus_id=some_corpus_name'' -H
        ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: clearannotations
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Annotations for 'mink-dxh6e6wtff' successfully removed
                  sparv_output:
                    type: string
                    example: '''export'' directory removed, ''logs'' directory removed,
                      ''sparv-workdir'' directory removed'
                  return_code:
                    type: string
                    example: removed_annotations
              example:
                status: success
                message: Annotations for 'mink-dxh6e6wtff' successfully removed
                sparv_output: '''export'' directory removed, ''logs'' directory removed,
                  ''sparv-workdir'' directory removed'
                return_code: removed_annotations
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to clear annotations
                  return_code:
                    type: string
                    example: failed_clearing_annotations
              example:
                status: error
                message: Failed to clear annotations
                return_code: failed_clearing_annotations
      deprecated: false
  /check-changes:
    get:
      tags:
      - Process Corpus
      summary: check changes
      description: "Checks if any source files were changed, added or deleted since\
        \ the last Sparv run. Also checks if the config file was modified. \n\n###\
        \ Example\n\n```.bash\ncurl -X GET '{{host}}/check-changes?corpus_id=some_corpus_name'\
        \ -H 'Authorization: Bearer YOUR_JWT'\n```"
      operationId: checkchanges
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Your input for the corpus 'mink-dxh6e6wtff' has changed
                      since the last run
                  config_changed:
                    type: integer
                    example: true
                  sources_added:
                    type: integer
                    example: true
                  sources_changed:
                    type: integer
                    example: true
                  sources_deleted:
                    type: integer
                    example: true
                  changed_config:
                    type: object
                    example: &id010
                      name: config.yaml
                      type: application/yaml
                      last_modified: '2021-11-25T15:52:17+00:00'
                      size: 848
                      path: config.yaml
                  added_sources:
                    type: array
                    example: &id011
                    - name: dokument4.xml
                      type: application/xml
                      last_modified: '2021-11-29T14:35:30+00:00'
                      size: 461
                      path: dokument4.xml
                  changed_sources:
                    type: array
                    example: &id012
                    - name: dokument1.xml
                      type: application/xml
                      last_modified: '2021-11-25T15:56:51+00:00'
                      size: 1396
                      path: dokument1.xml
                    - name: dokument2.xml
                      type: application/xml
                      last_modified: '2021-11-25T15:56:51+00:00'
                      size: 115
                      path: dokument2.xml
                  deleted_sources:
                    type: array
                    example: &id013
                    - name: dokument3.xml
                      type: application/xml
                      last_modified: '2021-11-29T14:22:54+00:00'
                      size: 41
                      path: dokument3.xml
                  last_run_started:
                    type: string
                    example: '2021-11-19T14:16:10+00:00'
                  return_code:
                    type: string
                    example: input_changed
              example:
                status: success
                message: Your input for the corpus 'mink-dxh6e6wtff' has changed since
                  the last run
                config_changed: true
                sources_added: true
                sources_changed: true
                sources_deleted: true
                changed_config: *id010
                added_sources: *id011
                changed_sources: *id012
                deleted_sources: *id013
                last_run_started: '2021-11-19T14:16:10+00:00'
                return_code: input_changed
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Failed to check changes for corpus 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: failed_checking_changes
              example:
                status: success
                message: Failed to check changes for corpus 'mink-dxh6e6wtff'
                return_code: failed_checking_changes
      deprecated: false
  /install-korp:
    put:
      tags:
      - Process Corpus
      summary: install in Korp
      description: 'Adds an installation job to the queue to tries to install the
        corpus on Korp. The corpus may be sentence scrambled by setting the `scramble`
        parameter to `true` (the original order will be kept by default.


        There can only be one active job (annotation or installation) for each corpus
        at a time. A job must finish or be aborted before a new one can be started.


        ### Example


        ```.bash

        curl -X PUT -F "corpus_id=some_corpus_name" -F "scrambled=true" ''{{host}}/install-corpus''
        -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: installinKorp
      parameters:
      - name: corpus_id
        in: query
        required: true
        style: form
        schema:
          type: string
          example: mink-dxh6e6wtff
      - name: scramble
        in: query
        required: false
        style: form
        schema:
          type: string
          example: 'true'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Job has been queued
                  resource:
                    type: object
                    example: &id014
                      id: mink-dxh6e6wtff
                      public_id: mink-dxh6e6wtff
                      name:
                        swe: Annes och Martins testkorpus
                        eng: ''
                      type: corpus
                      source_files:
                      - name: dokument2.xml
                        type: text/xml
                        last_modified: '2022-12-22T11:25:25+01:00'
                        size: 115
                        path: dokument2.xml
                      - name: dokument3.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:44+02:00'
                        size: 41
                        path: dokument3.xml
                      - name: dokument4.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:44+02:00'
                        size: 461
                        path: dokument4.xml
                      - name: dokument1.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:49+02:00'
                        size: 1394
                        path: dokument1.xml
                  job:
                    type: object
                    example: &id015
                      status:
                        sync2sparv: none
                        sync2storage: none
                        sparv: done
                        korp: waiting
                        strix: done
                      current_process: korp
                      pid: null
                      started: '2023-12-11T13:24:09+01:00'
                      done: null
                      sparv_exports:
                      - xml_export:pretty
                      - csv_export:csv
                      - stats_export:sbx_freq_list
                      current_files: []
                      install_scrambled: true
                      installed_korp: false
                      installed_strix: false
                      latest_seconds_taken: 0
                      priority: 1
                      warnings: ''
                      errors: ''
                      sparv_output: ''
                      last_run_started: '2023-12-11T13:24:09+01:00'
                      last_run_ended: ''
                      progress: 0%
                  return_code:
                    type: string
                    example: job_queued
              example:
                status: success
                message: Job has been queued
                resource: *id014
                job: *id015
                return_code: job_queued
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to remove export files from Sparv server for corpus
                      'mink-dxh6e6wtff'. Cannot run Sparv safely
                  return_code:
                    type: string
                    example: failed_removing_exports
              example:
                status: error
                message: Failed to remove export files from Sparv server for corpus
                  'mink-dxh6e6wtff'. Cannot run Sparv safely
                return_code: failed_removing_exports
      deprecated: false
  /install-strix:
    put:
      tags:
      - Process Corpus
      summary: install in Strix
      description: 'Adds an installation job to the queue to tries to install the
        corpus on Korp. The corpus may be sentence scrambled by setting the `scramble`
        parameter to `true` (the original order will be kept by default.


        There can only be one active job (annotation or installation) for each corpus
        at a time. A job must finish or be aborted before a new one can be started.


        ### Example


        ```.bash

        curl -X PUT -F "corpus_id=some_corpus_name" -F "scrambled=true" ''{{host}}/install-corpus''
        -H ''Authorization: Bearer YOUR_JWT''

        ```'
      operationId: installinStrix
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Job has been queued
                  resource:
                    type: object
                    example: &id016
                      id: mink-dxh6e6wtff
                      public_id: mink-dxh6e6wtff
                      name:
                        swe: Annes och Martins testkorpus
                        eng: ''
                      type: corpus
                      source_files:
                      - name: dokument2.xml
                        type: text/xml
                        last_modified: '2022-12-22T11:25:25+01:00'
                        size: 115
                        path: dokument2.xml
                      - name: dokument3.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:44+02:00'
                        size: 41
                        path: dokument3.xml
                      - name: dokument4.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:44+02:00'
                        size: 461
                        path: dokument4.xml
                      - name: dokument1.xml
                        type: text/xml
                        last_modified: '2023-06-13T13:26:49+02:00'
                        size: 1394
                        path: dokument1.xml
                  job:
                    type: object
                    example: &id017
                      status:
                        sync2sparv: none
                        sync2storage: none
                        sparv: done
                        korp: done
                        strix: waiting
                      current_process: strix
                      pid: null
                      started: '2023-12-11T13:24:09+01:00'
                      done: null
                      sparv_exports:
                      - xml_export:pretty
                      - csv_export:csv
                      - stats_export:sbx_freq_list
                      current_files: []
                      install_scrambled: true
                      installed_korp: true
                      installed_strix: false
                      latest_seconds_taken: 0
                      priority: 1
                      warnings: ''
                      errors: ''
                      sparv_output: ''
                      last_run_started: '2023-12-11T13:24:09+01:00'
                      last_run_ended: ''
                      progress: 0%
                  return_code:
                    type: string
                    example: job_queued
              example:
                status: success
                message: Job has been queued
                resource: *id016
                job: *id017
                return_code: job_queued
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to remove export files from Sparv server for corpus
                      'mink-dxh6e6wtff'. Cannot run Sparv safely
                  return_code:
                    type: string
                    example: failed_removing_exports
              example:
                status: error
                message: Failed to remove export files from Sparv server for corpus
                  'mink-dxh6e6wtff'. Cannot run Sparv safely
                return_code: failed_removing_exports
      deprecated: false
  /list-exports:
    get:
      tags:
      - Manage Exports
      summary: list exports
      description: 'Lists the available export files created by Sparv.


        ### Example


        ```.bash

        curl -X GET ''{{host}}/list-exports?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT''

        ```'
      operationId: listexports
      parameters:
      - name: corpus_id
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: mink-dxh6e6wtff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Current export files for 'mink-dxh6e6wtff'
                  contents:
                    type: array
                    example: &id018
                    - name: dokument2.csv
                      type: text/csv
                      last_modified: '2022-06-10T17:54:15+02:00'
                      size: 538
                      path: csv_export/dokument2.csv
                    - name: dokument1.csv
                      type: text/csv
                      last_modified: '2022-06-10T17:55:37+02:00'
                      size: 4876
                      path: csv_export/dokument1.csv
                    - name: stats_mink-dxh6e6wtff.csv
                      type: text/csv
                      last_modified: '2022-06-10T17:55:39+02:00'
                      size: 10838
                      path: stats_export.frequency_list/stats_mink-dxh6e6wtff.csv
                    - name: dokument2_export.xml
                      type: application/xml
                      last_modified: '2022-06-10T17:55:37+02:00'
                      size: 1497
                      path: xml_export.pretty/dokument2_export.xml
                    - name: dokument1_export.xml
                      type: application/xml
                      last_modified: '2022-06-10T17:55:38+02:00'
                      size: 13429
                      path: xml_export.pretty/dokument1_export.xml
                  return_code:
                    type: string
                    example: listing_exports
              example:
                status: success
                message: Current export files for 'mink-dxh6e6wtff'
                contents: *id018
                return_code: listing_exports
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to authenticate
                  info:
                    type: string
                    example: Signature verification failed
                  return_code:
                    type: string
                    example: failed_authenticating
              example:
                status: error
                message: Failed to authenticate
                info: Signature verification failed
                return_code: failed_authenticating
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Corpus 'mink-dxh6e6wtfg' does not exist or you do not
                      have access to it
                  return_code:
                    type: string
                    example: corpus_not_found
              example:
                status: error
                message: Corpus 'mink-dxh6e6wtfg' does not exist or you do not have
                  access to it
                return_code: corpus_not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Failed to list export files in 'mink-dxh6e6wtff'
                  return_code:
                    type: string
                    example: failed_listing_exports
              example:
                status: error
                message: Failed to list export files in 'mink-dxh6e6wtff'
                return_code: failed_listing_exports
      deprecated: false
  /download-exports:
    get:
      tags:
      - Manage Exports
      summary: download exports
      description: 'Downloads all available export files created by Sparv.


        The parameters `file` and `dir` may be used to download a specific export
        file or a directory of export files. These parameters must be supplied as
        paths relative to the export directory. Only one of these parameters may be
        applied at a time.


        The `zip` parameter may be set to `false` in combination the the `file` parameter
        to avoid zipping the file to be downloaded. If `zip` is used without the `file`
        parameter it will have no effect.


        ### Examples


        ```.bash

        curl -X GET ''{{host}}/download-exports?corpus_id=some_corpus_name'' -H ''Authorization:
        Bearer YOUR_JWT'' --output some_corpus_name.zip

        ```


        ```.bash

        curl -X GET ''{{host}}/download-exports?corpus_id=some_corpus_name&file=csv/dokument1.csv&zip=false''
        -H ''Authorization: Bearer YOUR_JWT'' --output dokument1.csv

        ```'
      operationId: downloadexports
      parameters:
      - name: corpus_id
        in: query
        required: true
        style: form
        schema:
          type: string
          example: mink-dxh6e6wtff
      - *id019
      - name: file
        in: query
        required: false
        style: form
        schema:
          type: string
          example: csv/dokument2.csv
      - name: dir
        in: query
        required: false
        style: form
        schema:
          type: string
          example: csv
      responses:
        '200':
          description: OK
[...]
